%html
  %head
    %title
      Boilerplate
    %link{rel: 'stylesheet', type: 'text/css', href: 'assets/css/style.css'}
    %script{src: 'assets/js/app.js'}
  %body
    %h1
      Test
    %footer
      /## partials/_footer.html ##
