%html
  %head
    %title
      Boilerplate
    %link{rel: 'stylesheet', type: 'text/css', href: 'assets/css/style.css'}
    %script{src: 'assets/js/main.js'}
  %body
    %header
      /partial:partials/_header.html
      /partial
    %h1
      Test :D
    %img{src: 'assets/images/images.jpeg'}
    %footer
      /partial:partials/_footer.html
      /partial
    %span
